extends layout

block content
    script
        filepicker.setKey('AkRiBXW4gTdusunITqmdCz');

    div.down
        img(src="/images/TransparentBackground.png")
    a.btn.btn-success.btn-large(href="/lectures") Browse Lectures
