extends layout

block content
    div.down
        img(src="/images/TransparentBackground.png")
    a.btn.btn-success.btn-large(href="/lectures") Browse Lectures

    script
        $(document).ready(function() {
            $.get('http://olinapps.com/api/me?sessionid='+#{uid}, function(err, data) {
                console.log(data);
            });
        });
