extends layout

block content
  h1= title
  div.video.
    <iframe id="ytplayer" type="text/html" width="860" height="480"
    src="https://www.youtube.com/embed/#{url}"
    frameborder="0" allowfullscreen>