extends layout

block content
  div.logo
    img(src="images/TransparentBackground.png")
  div
    each lecture in lectures
      p
        a.big(href="/lecture/#{lecture.title}") #{lecture.class_name}: #{lecture.title}
