body {
  text-align: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.video {
    margin-top: 100px;
}

.top {
    margin-top: 50px;
}

.larger {
    font-size: 30px;
    margin-bottom: 10px;
}

.big {
    font-size: 20px;
}

.logo {
    margin-left: 500px;
    margin-right: 500px;
}

.down {
    margin-top: 80px;
}